body {
    padding: 15rem 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(imagens/loja/mountains-100367_1280.jpg);
    background-size: contain;
    background-size: cover;
    background-attachment: fixed;
}

main {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}

footer {
    background-color: #04eefa;
    color: white;
    text-align: center;
    padding: 1rem;
}

.logo-footer h1 {
    font-size: 24px;
    margin: 0;
}

.footer-redes a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

hr.footer-content {
    border-color: white;
}

.copy {
    margin-top: 20px;
    font-size: 12px;
}
 
.footer-redes img {
    width: 24px;
    height: 24px;
}

.container {
    background-color: #fff2d8;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 300px;
}


.login-form h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 05px;
}

input {
    width: 100%;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 30px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #085805;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0d00ff;
}

.links {
    margin-top: 10px;
}

.links a {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    color: #0d00ff;
    text-decoration: none;
    font-size: 15px;
}

.links a:last-child {
    margin-bottom: 10;
}

.links a:hover {
    text-decoration: underline;
}
