body {
    font-family: Arial, sans-serif;
    background-image: url(imagens/loja/mountains-100367_1280.jpg);
    background-size: contain;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff2d8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

h3 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input,
textarea {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 05px;
}

textarea {
    padding: 30px;
    resize: vertical;
}

button {
    background-color: #085805;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 05px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}

button:hover {
    background-color: #000000;
}

a {
    display: block;
    text-align: center;
    color: #4a87e8;
    text-decoration: none;
    text-decoration: underline;
    margin-top: 15px;
    transition: 0.3s;
}

a {
    display: block;
    text-align: center;
    color: #0d00ff;
    text-decoration: none;
    text-decoration: underline;
    margin-top: 15px;
    transition: 0.9s;
    font-size: 15px;
}

a:hover {
    opacity: 0.7;
}

.footer-redes {
    display: flex;
    justify-content: center;
}


/* Responsivo */

@media (max-width: 600px) {
    nav li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav ul {
        text-align: center;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

footer {
    background-color: #04eefa;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo-footer h1 {
    font-size: 24px;
    margin: 0;
}

.footer-redes a {
    margin: 0 10px;
    text-decoration: none;
}

hr.footer-content {
    border-color: white;
}

.copy {
    margin-top: 20px;
    font-size: 12px;
}

.footer-redes img {
    width: 24px;
    height: 24px;
}
