fieldset {
    border: none;
}

body {
    background-image: url(imagens/loja/mountains-100367_1280.jpg);
    background-size: contain;
    background-size: cover;
    background-attachment: fixed;
}

.container-label {
    display: flex;
    justify-content: center;
}

main {
    background-color: #fff2d8;
}

input,
textarea {
    width: 90%;
}

.container-submit,
.container-legend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-legend {
    margin-bottom: 2rem;
}

.container-input {
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    background-color: #bca37f;
}

input[type="submit"]:hover {
    background-color: #ead7bb;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

footer {
    background-color: #04eefa;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo-footer h1 {
    font-size: 24px;
    margin: 0;
}

.footer-redes a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

hr.footer-content {
    border-color: white;
}

.copy {
    margin-top: 20px;
    font-size: 12px;
}

.footer-redes img {
    width: 24px;
    height: 24px;
}
